<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apps Ecommerce</title>
  </head>
  <body>
    <a href="/"><button type="button" name="button">Home</button></a>
    <a href="/suppliers"><button type="button" name="button">Supplier</button></a>
    <a href="/items"><button type="button" name="button">Items</button></a>
    <a href="/search"><button type="button" name="button">Search</button></a>
  </body>
</html>
