<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Items</title>
  </head>
  <body>
    <h1>Add Items</h1>
    <a href="/items">return to items</a><br><br>
    <form class="" action="/items/add" method="post">
      Name : <br>
      <input type="text" name="name"><br>
      Brand : <br>
      <input type="text" name="brand"><br>
      Code Item : <br>
      <input type="text" name="codeitem"><br><br>
      <button type="submit">Submit</button>
      <a href="/items"><button type="submit">Cancel</button></a>
    </form>
  </body>
</html>
