<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Suppliers</title>
  </head>
  <body>
    <form class="" action="/suppliers/add" method="post">
      <h1>Add Suppliers</h1>
      <a href="/suppliers">return to suppliers</a>
      Name : <br>
      <input type="text" name="name"><br>
      Suppliers : <br>
      <input type="text" name="kota"><br><br>
      <button type="submit">Submit</button>
      <a href="/suppliers"><button type="submit">Cancel</button></a>      
    </form>
  </body>
</html>
